@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Poppins:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    background-color: #FDFFFC;
}

.logo{
    height: 40px;
}

.logo-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none !important;
    color:black  !important;
}

.logo-text{
    font-size: 16px;
}

ul{
    list-style-type: none;
}

.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}


.hero-section{
    height: calc(100vh - calc(1em + 50px));
    background-image: url('./Assets/Hero-Section.jpg');
    background-size: cover;
    position: relative;
    text-align: center;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section::after{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.hero-section-content{
    z-index: 10;
}

.title{
    font-weight: 800;
    font-size: 80px;
}

.button-link{
    color:white !important;
}

.about-us-section{
    padding: 20px;
}

h1{
    font-weight: 800;
}

.about-us-image{
    width: 50%;
}

.about-us-heading{
    font-weight: 700;
}

.link:hover{
    color:#4EDDDB;
}
@media screen and (max-width:767px){
    .nav-links,.hide-in-mobile{
        display: none;
    }
    .hero-section{
        background-position: -200px;
    }
    .title{
        font-size: 40px;
    }
    .tagline{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .about-us-image{
        width: 98%;
        margin: auto;
    }
}

@media screen and (min-width:768px){
    .hide-in-laptop{
        display: none;
    }
    .about-us-section{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

h1{
    font-weight: bolder;
}

.bold{
    color:#4C8E8D;
    font-weight: 600;
}